.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #000000;
}


.button {
    -fx-background-color: #000000;
}
.button:hover {
    -fx-background-color: #222222;
}
.button:pressed {
    -fx-background-color: #222222;

}


.title-AA {
    -fx-background-radius: 200px;
    -fx-background-color: whitesmoke;
    -fx-border-color: black;
    -fx-border-width: 5px;
}