.pane {
    -fx-background-color: #000000;
}

.Vbox {
    /*-fx-border-color: whitesmoke;*/
    -fx-background-color: #000000;
    -fx-border-color: gray gray black black;
}

.HBox {
    -fx-background-color: #000000;
    -fx-border-color: gray black black black;
}

.button {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: gray black gray black;
    -fx-text-fill: whitesmoke;
}

.button:hover {
    -fx-background-color: linear-gradient(to right, #151928, black);
    -fx-text-fill: whitesmoke;
    -fx-font-size: 14px;
}

.button-2 {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: black gray black black;
    -fx-text-fill: whitesmoke;
}

.button-2:hover {
    -fx-background-color: linear-gradient(to right, #151928, black);
    -fx-text-fill: whitesmoke;
    -fx-font-size: 18px ;
}

.button-save {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: black gray black black;
    -fx-text-fill:  whitesmoke;
}

.button-save:hover {
    -fx-background-color: linear-gradient(to right,  #2196f3, black);
    -fx-text-fill: whitesmoke;
    -fx-font-size: 20px ;
}

.choice-box {
    -fx-background-color: #ACACAC;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-color: whitesmoke;
    -fx-text-fill: #2196f3;


}
.choice-box:hover {
    -fx-text-fill: #2196f3 ;
}

.choice-box-base:hover {
    -fx-border-color: #2196f3;

}

.choice-box .list-view {
    -fx-background-color: #2196f3;
}
.button-1 {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.button-1:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}


