.parent {
    -fx-background-color: transparent;
}

.pane {
    -fx-background-color: #000000;

}

.button-1 {
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.button-1:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}

.white-pane {
    -fx-background-color: #ffffff;
}

.blue-panel {
    -fx-background-color: #151928;
}

.tf_box {
    -fx-background-color: transparent;
    -fx-border-color: #DEDEE4;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-text-fill: #2196f3;
}

.tf {
    -fx-background-color: transparent;
}

.blue-btn {
    -fx-background-color: #2196f3;
    -fx-text-fill: #ffffff;
}

.red-pane {
    -fx-background-color: red;
}

.green-pane {
    -fx-background-color: #77FF00;
}

.blue-pane {
    -fx-background-color: #2196f3;
}

.yellow-pane {
    -fx-background-color: yellow;
}

.pause-pane {
    -fx-background-color:  #151928 ;
}

.button-music {
    -fx-background-color:  #2196f3;
    -fx-background-radius: 5px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-border-width: 1px;
    -fx-text-fill: whitesmoke;
}

.button-music:hover {
    -fx-background-color: #cccccc;
    -fx-text-fill: black;
}

.progress-bar .bar {
   -fx-background-color: linear-gradient(to left, aquamarine, royalblue);
}